name: Kane CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'oracle'
        check-latest: true

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Build JLink Image
      run: ./gradlew :kane-boot:jlink --no-daemon

    - name: Upload JLink Artifact
      uses: actions/upload-artifact@v4
      with:
        name: kane-runtime-${{ matrix.os }}
        path: kane-boot/build/image/


